.container {
    margin: auto;
    width: 1200px;
    height: auto;
    background: lightcyan;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-around;
}

.headerQWE {
    padding: 10px 40px 10px 30px;
    background: lightblue;
    display: flex;
    height: 130px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

section {
    background: lightgreen;
}

footer {
    background: lightsalmon;
    align-self: stretch;
}

input, select {
    width: 200px;
}

.button-header {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.button-footer {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

input[type=button],input[type=reset] {
    width: 100px;
    height: 50px;
}
input[type=checkbox]{
    height: 20px;
    width: 20px;
}

.table {
    align-self: stretch;
    width: auto;
    height: 345px;
    overflow-y: scroll;
    overflow-x: hidden;
}

footer input[type=button] {
    width: auto;
    height: 40px;
}

.plus-minus input[type=button] {
    width: 65px;
}
